.grid {
  position: absolute;
  inset: -250px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 190px);
  grid-auto-rows: 190px;

  gap: 20px;
  padding: 80px;

  z-index: 1;
  overflow: hidden;

  filter: blur(4px);

  animation: drift 60s linear infinite;
}

@keyframes drift {
  from {
    transform: perspective(1400px) rotateX(14deg) rotateZ(6deg) scale(1.25) translate(0, 0);
  }

  to {
    transform: perspective(1400px) rotateX(14deg) rotateZ(6deg) scale(1.25) translate(-120px, -300px);
  }
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
  filter: saturate(1.2);
//   animation: float 20s ease-in-out infinite;
  transform: scale(1.05);
}

@keyframes float {
  0% { transform: scale(1); }
  50% { transform: scale(1.07); }
  100% { transform: scale(1); }
}

